<!DOCTYPE html>
<html lang="en">
<head> 
    <%- include ('./head') %>
    <title>Homepage</title>
</head>
<body>
    <%- include ('./nav') %><%= JSON.stringify(user)%>
    <%- include ('./script') %>
</body>
</html>